/* Adding style for the header - includes profile picture and name  */
#top-header {
  height: 400px;
  width: 100vw;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0;
  background-image: url(../images/xv.png);
  background-color: #fdfd66;
}

/* Screen over 1024px - Desktops */
@media only screen and (min-width: 1024px) {

  #top-header {
    width: 400px;
    margin-left: 1em;
    margin-top: 6em;
    align-self: flex-start;
  }

}