/* Adding style for the header - includes profile picture and name  */

#top-header {
  height: 400px;
  width: 100vw;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0;
  background-image: url(../images/xv.png);
  background-color: #fdfd66;
}