/* Adding style for the navigation bar */
nav {
  height: 120px;
  width: 100vw;
  padding: 1em 1.5em;
  position: fixed;
  top: 0%;
  background-color: #4056A1;
  color: #FFFFFF; 
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Navigation heder text - Tweeter */
nav h2 {
  margin: 0;
  font-family: 'Bungee', sans-serif;
}

/* Navigation items on the right */
nav .extra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation span text - write a new tweet */
nav .extra p {
  margin: 0;
}

/* Navigation button for new tweets */
nav .extra img {
  margin: 0;
  padding-bottom: 0.3em;
  width: 1em;
  animation-duration: 0.8s;
  animation-name: jump;
  animation-iteration-count: infinite;
}

/* Button animation */
@keyframes jump {
  from {
    padding-top: 0em;
    padding-bottom: 0.3em;
  }

  to {
    padding-top: 0.3em;
    padding-bottom: 0;
  }

}

/* Screen below 768px - Smartphones */
@media only screen and (max-width: 768px) {
  
  nav {
    background-image: url(../images/xv.png);
    background-color: #fdfd66;
    color: #545149;
  }

}