/* Adding style for the navigation bar */

nav {
  height: 120px;
  width: 100vw;
  padding: 1.5em;
  position: fixed;
  top: 0%;
  background-color: #4056A1;
  color: #FFFFFF; 
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav span {
  font-family: 'Bungee', sans-serif;
}