/* tweets section */
.tweets {
  width: 90%;
}

/* tweets article container */
.tweets .tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
  border-radius: 5px;
  margin: 1em 0;
  padding: 0.5em;
  background-color: lightyellow;
}

/* hover event - shadow */
.tweets .tweet:hover {
  box-shadow: 5px 5px 5px yellow;
  /* visibility: visible; */
}

/* tweets article header */
.tweets .tweet header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

/* tweets article header avatar */
.tweets .tweet header .avatar {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

/* tweets article header avatar image */
.tweets .tweet header .avatar img {
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  margin-right: 0.5em;
}

/* tweets text paragraph */
.tweets .tweet .content {
  width: 100%;
  border-bottom: solid;
  /* display: flex; */
  /* justify-content: space-between; */
}

/* tweets footer */
.tweets .tweet footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* tweets article user-id in header */
.tweets .tweet header .handle {
  visibility: hidden;
}

/* tweets article container hover event - show user id */
.tweets .tweet:hover header .handle {
  visibility: visible;
  color: #aaaaaa;
}

/*  */